// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .item_price, .total_line {
    text-align: right;
    color:  red;
    text-align: left;
  }

.total_line {
  font-weight: bold;
  border-top: 1px solid #595;
}

.price {
  text-align: left;
  color: green;
}

.head {
  text-align: left;
  text-decoration-color: blue;
}

