.block_prod {
margin: 20px;
}

.block_prod div {
  margin: 5px;
}

.prod_name {
  font-size: large;

}

.prod_name a {
  color: blue;
}

.prod_price {
  color: red;
  font-weight: bold;
}

.create_prod {
  margin: 5px;
  font-weight: bold;
  font-size: larger;
}

