<div class = "nested-fields">
  <%= f.file_field :file %>
  <%= f.hidden_field :_destroy, class: '_destroy' %>
  <br>
  <%= image_tag(f.object.file_url, width: '100') if f.object.file.present? %>
  <a href="#" class="remove-image">remove image</a>
</div>